# startup
start_fullscreen   true
startup_level      levels/demo_level.plv

# memory
command_buffer_size_mb      16
permanent_storage_size_mb   256
transient_storage_size_mb   512

# graphics
msaa_count   8

# sound
master_volume     1.0
gameplay_volume   1.0
ui_volume         1.0

# directsound
directsound_latency_ms      3.0 # increasing this lets the mixer take longer without producing audio glitches at the cost of latency
directsound_safety_frames   4   # increasing this increases the number of frames you can drop without getting audio glitches at the cost of extra performance impact

# key binds
up         W
left       A
down       S
right      D
jump       W
interact   F

# alternate key binds
alternate_up         0x26 # Arrow Up
alternate_left       0x25 # Arrow Left
alternate_down       0x28 # Arrow Down
alternate_right      0x27 # Arrow Right
alternate_jump       0x20 # Space
alternate_interact   0xD  # Enter

# player movement
max_collision_iterations       8

gravity                       -20.0
downward_gravity_multiplier    2.0
moon_time_duration             0.5
support_dp_retention_time      0.25

movement_speed                 30.0
max_x_vel                      10.0
min_y_vel                     -40.0
max_y_vel                      40.0
max_ballistic_x_vel            20.0
max_ballistic_y_vel            10.0

jump_force                     10.0

early_jump_window              0.075
late_jump_window               0.1

player_respawn_speed           1.0

player_airtime_loudest_landing_point   1.0
player_walk_cycle_length               2.0

# level
level_intro_speed                        1.0
level_outro_speed                        8.0
background_pulse_intensity               0.15
background_pulse_world_shake_intensity   0.25
background_pulse_spring_force            24.0
background_pulse_spring_dampen           4.0

# camera
camera_transition_speed   0.4
camera_stop_smoothness    1.0

# menu
menu_bob_speed       0.2
menu_bob_magnitude   4.0
menu_fade_in_speed   2.0
menu_quit_speed      1.0

# debug
simulation_rate       1.0
console_open_speed    0.14
console_close_speed   0.08
